AuthName "AuthGrant"
AuthType Basic
Require valid-user
AuthUserFile "/var/www/tarasdj32/data/www/club-mixes-download.club/public/.htpasswd"

Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]